          <!-- Top Bar -->
          <section id="top-bar"  {% if settings and settings.phone %} class="p-3" {%endif%}>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                     {% if settings and settings.phone %}
                        <i class="fas fa-phone"></i> 
                        {{settings.phone}}
                     {% endif %}

                </div>

                <div class="col-md-4">
                  {% if settings and settings.email %}
                      <i class="fas fa-envelope-open"></i> 
                      {{settings.phone}}
                  {% endif %}
                </div>
                <div class="col-md-4">
                  <div class="social text-right">
                  {% if settings and settings.twitter %}

                    <a href="{{settings.twitter}}">
                      <i class="fab fa-twitter"></i>
                    </a>
                    {% endif %}
                  {% if settings and settings.facebook %}
                    
                    <a href="{{settings.facebook}}">
                      <i class="fab fa-facebook"></i>
                    </a>
                  {% endif %}

                  {% if settings and settings.instagram %}

                    <a href="{{settings.instagram}}">
                      <i class="fab fa-instagram"></i>
                    </a>
                  {% endif %}

                  
                  </div>
                </div>
              </div>
            </div>
          </section>